<!DOCTYPE HTML>

<head>
    <%- include('./header.ejs')%>
</head>

<body>

    <div class="wrap">
        <%- include('./slide.ejs') %>
        <%- include('./headerslide.ejs') %>

        <div class="main">
            <div class="content">
                <div class="content_top">
                    <div class="heading">
                        <h3>PRODUCTS</h3>
                    </div>
                    <div class="see">
                        <p><a href="/allproduct">See all Products</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="section group">
                <% rs.forEach(u=>{
                    %>
                    <div style=" height: 250px;margin-left: 6px;margin-top: 20px" class="grid_1_of_4 images_1_of_4">
                        <a href="/<%= u._id %>"><img  style="height: 170px;" src="image_web/<%= u.anh_sp %>" alt="" /></a>
                        <h3>
                            <%= u.ten_sp %>
                        </h3>
                        <div class="price-details">
                            <div class="price-number">
                                <p><span class="rupees">
                                        <%= u.gia_sp %>đ</span></p>
                            </div>
                            <div class="add-cart">
                                <h4><a href="/<%= u._id %>">Add to Cart</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </div>
                    <%
                }) %>

                </div>
                
            </div>
        </div>

    </div>
    </div>
    
    <script src="updatecart.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a style="z-index: 11;" href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
<%- include('./footer.ejs') %>
</html>