<!DOCTYPE HTML>

<head>
	<%- include('./header.ejs')%>

</head>

<body>
	<div class="wrap">
		<%- include('./slide.ejs') %>
		<div class="main">
			<div class="content">
				<div class="section group">
					<div class="col span_2_of_3">
						<div class="contact-form">
							<h2 style="font-weight: bold">Customer Information</h2>
							<form method="POST" action="/checkout2">
								<div>
									<span><label style="font-size: 14px">Hình thức</label></span>
									<span><input type="text"class="textbox" value="Thanh toán khi nhận hàng" placeholder="name"
										 required disabled></span>
								</div>
								<div>
									<span><label style="font-size: 14px">Name</label></span>
									<span><input type="text" name="ten" class="textbox" placeholder="name" required></span>
								</div>
								<div>
									<span><label style="font-size: 14px">Phone number</label></span>
									<span><input type="text" name="sdt" class="textbox" placeholder="phone number" required></span>
								</div>
								<div>
									<span><label style="font-size: 14px">Address</label></span>
									<span><input type="text" name="diachi" class="textbox" placeholder="số nhà, tên đường, phường/xã, tỉnh/TP"
										 required></span>
								</div>
								<div>
									<span><label style="font-size: 14px">Total-Money</label></span>
									<span><input type="text" name="tongtien1" class="textbox" value="<%= sum %> VNĐ" disabled></span>
								</div>
								<div hidden>
									<span><label style="font-size: 14px">Total-Money</label></span>
									<span><input type="text" name="tongtien" class="textbox" value="<%= sum %>"></span>
								</div>
								<div>
									<span><label style="font-size: 14px">Node</label></span>
									<span><textarea name="ghichu"></textarea></span>
								</div>
								<div>
									<span>Cam kết giao hàng trong vòng 4 tiếng kể từ khi Submit !</span>
									<span><input id="submit" type="submit" value="Submit" class="myButton"></span>
									<p id="tb" style="color: forestgreen"></p>
								</div>
							</form>
						</div>
					</div>

					<div class="col span_1_of_3">
						<div class="contact_info">
							<h3>Find Us Here</h3>
							<div class="map">
								<iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a
									 href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265"
									 style="color:#666;text-align:left;font-size:12px">View Larger Map</a></small>
							</div>
						</div>
						<div class="company_address">
							<h3>Company Information :</h3>
							<p>Số 7 An Hòa, Hà Đông</p>
							<p>Viet-Nam</p>
							<p>Phone:0967-730498</p>
							<p>Fax: (000) 000 00 00 0</p>
							<p>Email: <span><a href="mailto:@example.com">tkduong98@gamil.com</a></span></p>
							<p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="updateCart.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<a style="z-index: 11;" href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
<%- include('./footer.ejs') %>

</html>