<!DOCTYPE HTML>

<head>
    <title>Tech-shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <%- include('./header.ejs') %>
    <style>
        th{

            font-weight: bold;
        }
        .headertop_desc a{
            text-decoration: none;
        }
        .header_bottom a{
            text-decoration: none;
        }
    </style>
</head>

<body>
   
    <div class="wrap">
        <%- include('./slide.ejs') %>
        <div class="main">
            <div class="content">
                    <div class="container">
                            <h2 style="font-weight: bold">Products Cart</h2>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Product Name</th>
                                            <th>Image</th>
                                            <th>Quality</th>
                                            <th>Price</th>
                                            <th>Total</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 
                                            var n = cart.length;
                                            for(var i=0;i<n;i++){
                                                %>
                                                    <tr>
                                                        <td><%= i+1 %></td>
                                                        <td><%= cart[i].ten %></td>
                                                        <td><img width="80px" src="<%= cart[i].image %>"></td>
                                                        <td><%= cart[i].soluong %></td>
                                                        <td><%= cart[i].dongia %></td>
                                                        <td><%= cart[i].soluong * cart[i].dongia %></td>
                                                        <td><a href="/checkout/<%= cart[i]._id %>"><img width="30px" style="cursor: pointer" src="./images/xoa.png"></a></td>
                                                    </tr>
                                                <%
                                            } 
                                        
                                        %>
                                        <tr>
                                            <td colspan="5" style="font-weight: bold">Total - Money</td>
                                            <td colspan="1"><%= sum %> VNĐ</td>
                                            <td colspan="1"><a href="checkout2"><button class="btn-success" style="border-radius: 5px">Thanh Toán</button></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a style="z-index: 11;" href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
<%- include('./footer.ejs') %>

</html>