<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Forgot Password</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
    <script>
      var socket = io("https://son-long.herokuapp.com/");
       socket.on('email-hop-le',()=>{
            $('#thongbao').html('Email hợp lệ').css('color','green');
          })
          socket.on('email-khong-hop-le',()=>{
            $('#thongbao').html('Email không hợp lệ hoặc chưa đăng ký').css('color','red');
          })
       $(document).ready(()=>{
          $('#inputEmail').focusout(()=>{
            let gmail = $('#inputEmail').val();
            if(gmail!=""){
              socket.emit('reset-mail',gmail);
            }
          })
          
       })
    </script>
  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
          <div class="text-center mb-4">
            <h4>Forgot your password?</h4>
            <p>Enter your email address and we will send you instructions on how to reset your password.</p>
          </div>
          <form action="forgot-password" method="POST">
            <div class="form-group">
              <div class="form-label-group">
                <input type="email" name="emailreset" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
                <label for="inputEmail">Enter email address</label>
              </div>
              <p id="thongbao"></p>
            </div>
            <input id="resetpwd" class="btn btn-primary btn-block" type="submit" value="Reset Password">
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="register">Register an Account</a>
            <a class="d-block small" href="login">Login Page</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  </body>

</html>
