<!DOCTYPE HTML>
<html>

<head>
	<%- include('./header.ejs')%>

</head>

<body>
	<div class="wrap">
		<%- include('./slide.ejs') %>
		<%- include('./headerslide.ejs') %>

		<div class="main">
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<h3>New Products</h3>
					</div>
					<div class="see">
						<p><a href="/allproduct">See all Products</a></p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="section group">

					<% rs.forEach(u=>{
						%>
					<div class="grid_1_of_4 images_1_of_4">
						<a href="/<%= u._id %>"><img src="image_web/<%= u.anh_sp %>" alt="" /></a>
						<h3>
							<%= u.ten_sp %>
						</h3>
						<div class="price-details">
							<div class="price-number">
								<p><span class="rupees">
										<%= u.gia_sp %></span></p>
							</div>
							<div class="add-cart">
								<!--  -->
								<h4><a href="/<%= u._id %>">Add to Cart</a></h4>
							</div>
							<div class="clear"></div>
						</div>

					</div>
					<%
					}) %>

				</div>
			</div>
		</div>
		<div class="content">
			<div class="content_top">
				<div class="heading">
					<h3>LAPTOPS</h3>
				</div>
				<div class="see">
					<p><a href="/laptop">See all Products</a></p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="section group">

				<% lap.forEach(u=>{
							%>
				<div class="grid_1_of_4 images_1_of_4">
					<a href="/<%= u._id %>"><img src="image_web/<%= u.anh_sp %>" alt="" /></a>
					<h3 id="productName">
						<%= u.ten_sp %>
					</h3>
					<div class="price-details">
						<div class="price-number">
							<p><span class="rupees">
									<%= u.gia_sp %></span></p>
						</div>
						<div class="add-cart">
							<!--  -->
							<h4><a href="/<%= u._id %>">Add to Cart</a></h4>
						</div>
						<div class="clear"></div>
					</div>

				</div>
				<%
						}) %>

			</div>
		</div>
		<div class="content">
			<div class="content_top">
				<div class="heading">
					<h3>IPADS</h3>
				</div>
				<div class="see">
					<p><a href="/ipad">See all Products</a></p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="section group">

				<% ipad.forEach(u=>{
								%>
				<div class="grid_1_of_4 images_1_of_4">
					<a href="/<%= u._id %>"><img src="image_web/<%= u.anh_sp %>" alt="" /></a>
					<h3>
						<%= u.ten_sp %>
					</h3>
					<div class="price-details">
						<div class="price-number">
							<p><span class="rupees">
									<%= u.gia_sp %></span></p>
						</div>
						<div class="add-cart">
							<!--  -->
							<h4><a href="/<%= u._id %>">Add to Cart</a></h4>
						</div>
						<div class="clear"></div>
					</div>

				</div>
				<%
				}) %>

			</div>
		</div>
	</div>
	</div>
	<script src="updateCart.js"></script>

	<a href="#" id="toTop"><span id="toTopHover"> </span></a>



</body>
<%- include('./footer.ejs') %>

</html>