<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tech-shop</title>
    <link rel="shortcut icon" href="images/favicon-16x16.png" type="image/x-icon"/>
    <link href="css/login.css" rel="stylesheet" type="text/css" media="all"/>
</head>
    <style>
    
    </style>
<body>
    <div class="login-container">
        <form action="/login" method="POST" class="form-login">
            <ul class="login-nav">
                <li class="login-nav__item active">
                    <a href="/login">Sign In</a>
                </li>
                <li class="login-nav__item">
                    <a href="/register">Sign Up</a>
                </li>
            </ul>
            <label for="login-input-user" class="login__label">
                Username
            </label>
            <input id="login-input-user" class="login__input" name="username" type="text" required autocomplete="off" />
            <label for="login-input-password" class="login__label">
                Password
            </label>
            <input id="login-input-password" class="login__input" name="password" type="password" required autocomplete="off" />
            <label for="login-sign-up" class="login__label--checkbox">
                <input id="login-sign-up" type="checkbox" class="login__input--checkbox"/>
                Keep me Signed in
            </label>
            <button class="login__submit" type="submit" >Sign in</button>
        </form>
        <a href="/forgotpassword" class="login__forgot">Forgot Password?</a>
    </div>
</body>
</html>