<!DOCTYPE HTML>
<html>

<head>
	<title>Son-Long-Shop </title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="socket.io/socket.io.js"></script>
	<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="shortcut icon" href="images/favicon-16x16.png" type="image/x-icon"/>
	<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../js/move-top.js"></script>
	<script type="text/javascript" src="../js/easing.js"></script>
	<link href="../css/snack.css" rel="stylesheet" type="text/css" media="all" />
	<script src="../js/easyResponsiveTabs.js" type="text/javascript"></script>
	<link href="../css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="../css/global.css">
	<script src="../js/slides.min.jquery.js"></script>
	<script>
		$(function () {
			$('#products').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				effect: 'slide, fade',
				crossfade: true,
				slideSpeed: 350,
				fadeSpeed: 500,
				generateNextPrev: true,
				generatePagination: false
			});
		});
	</script>
	<style>
		#image {
			  border: 1px solid #ddd;
			  border-radius: 4px;
			  padding: 0px;
			  width: 330px;
			  height: 330px;
			  float: left;
			}
			</style>
</head>

<body>
	<div class="wrap">
		<div class="header">
			<div class="headertop_desc">
				<div class="call">
					<p><span>Need help?</span> call us <span class="number">0967-730-498</span></span></p>
				</div>
				<div class="account_desc">
					<ul>
						<li><a href="#">Delivery</a></li>
						<li><a href="checkout">Checkout</a></li>
						<li><a href="logout">Log Out</a></li>
						<li><a href="#">My Account</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="header_top">
				<div class="logo">
					<a href="index"><img src="images/logo1.png" alt="" /></a>
				</div>
				<div class="cart">
					<p>Welcome to our Online Store! <span>Cart:</span>
						<div id="dd" class="wrapper-dropdown-2"> <span id="soluongSP"><a href="checkout" style="text-decoration: none;color: black" ></span> item(s) - <span id="tongtien"></span>đ</a>
						</div>
					</p>
				</div>
				<script type="text/javascript">
					function DropDown(el) {
						this.dd = el;
						this.initEvents();
					}
					DropDown.prototype = {
						initEvents: function () {
							var obj = this;

							obj.dd.on('click', function (event) {
								$(this).toggleClass('active');
								event.stopPropagation();
							});
						}
					}

					$(function () {

						var dd = new DropDown($('#dd'));

						$(document).click(function () {
							// all dropdowns
							$('.wrapper-dropdown-2').removeClass('active');
						});

					});

				</script>
				<div class="clear"></div>
			</div>
			<div class="header_bottom">
				<div class="menu">
					<ul>
						<li class="active"><a href="index">Home</a></li>
						<li><a href="about">About</a></li>
						<li><a href="delivery">Delivery</a></li>
						<li><a href="news">News</a></li>
						<li><a href="contact">Contact</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="search_box">
					<form>
						<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input
						 type="submit" value="">
					</form>
				</div>
				<div class="clear"></div>
			</div>

		</div>
		<div class="content">
			<div class="content_top">
				<div class="back-links">
					<p><a href="../index">Home</a> >>>> <a href="#">Electronics</a></p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="section group">
				<div class="cont-desc span_1_of_2">
					<div class="product-details">
						<div class="grid images_3_of_2">
							<div id="container">
								<div id="products_example">
									<div id="products">slides_container
										<div style="width: 330px; height: 330px;" class="pimage">
											<a target="_blank" href="../image_web/<%= rs.anh_sp %>">
												<img id="image" style="margin-right: 5px" src="../image_web/<%= rs.anh_sp %>" alt="Forest" style="width: 340px; height: 220px;">
											</a>
											<!-- <a href="#" target="_blank"><img src="../images/productslide-2.jpg" alt=" " /></a>
												<a href="#" target="_blank"><img src="../images/productslide-3.jpg" alt=" " /></a>
												<a href="#" target="_blank"><img src="../images/productslide-4.jpg" alt=" " /></a>
												<a href="#" target="_blank"><img src="../images/productslide-5.jpg" alt=" " /></a>
												<a href="#" target="_blank"><img src="../images/productslide-6.jpg" alt=" " /></a> -->
										</div>
										<!-- <ul class="pagination">
												<li><a href="#"><img src="../images/thumbnailslide-1.jpg" alt=" " /></a></li>
												<li><a href="#"><img src="../images/thumbnailslide-2.jpg" alt=" " /></a></li>
												<li><a href="#"><img src="../images/thumbnailslide-3.jpg" alt=" " /></a></li>
												<li><a href="#"><img src="../images/thumbnailslide-4.jpg" alt=" " /></a></li>
												<li><a href="#"><img src="../images/thumbnailslide-5.jpg" alt=" " /></a></li>
												<li><a href="#"><img src="../images/thumbnailslide-6.jpg" alt=" " /></a></li>
											</ul> -->
									</div>
								</div>
							</div>
						</div>
						<div class="desc span_3_of_2" id="pro-<%= rs._id %>">
							<h2 id="productName">
								<%= rs.ten_sp %>
							</h2>
							<p>
								<%= rs.mota_sp %>
							</p>
							<div class="price">
								<p>Price: <span id="price">
										<%= rs.gia_sp %></span></p>
							</div>
							<div class="available">
								<p>Available Options :</p>
								<ul>
									<li>Color:
										<select class="color">
											<option value="Silver">Silver</option>
											<option value="Black">Black</option>
											<option value="Dark Black">Dark Black</option>
											<option value="Red">Red</option>
										</select></li>
									<li>Quality:<select class="quality">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select></li>
								</ul>
							</div>
							<div class="share-desc">
								<div class="share">
									<p>Share Product :</p>
									<ul>
										<li><a href="#"><img src="../images/facebook.png" alt="" /></a></li>
										<li><a href="#"><img src="../images/twitter.png" alt="" /></a></li>
									</ul>
								</div>
								<div class="button"><span><a id="add-cart" proID="<%= rs._id %>" style="cursor: pointer;">Add-To-Cart</a></span></div>

								<div class="button"><span><a href="/checkout" style="cursor: pointer;margin-right: 2px">GoTo Cart</a></span></div>
								<p id="added" style="color: green"></p>
								<div class="clear"></div>
							</div>
							<div class="wish-list">
								<ul>
									<li class="wish"><a href="#">Add to Wishlist</a></li>
									<li class="compare"><a href="#">Add to Compare</a></li>
								</ul>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<script type="text/javascript">
						socket = io("https://son-tech-shop.herokuapp.com/");
						socket.on('cart', (data) => {
							$('#soluongSP').html(data.sl);
							var tongtien = 0;
							data.cart.forEach(element => {
								tongtien += element.dongia * element.soluong;
							});
							$('#tongtien').html(tongtien);
						});
						$(document).ready(function () {
							var user = "<%= u %>";
							var sl = "<%= sl %>";
							var sum = "<%= sum %>";
							$('#soluongSP').html(sl);
							$('#tongtien').html(sum);
							$('#add-cart').on('click', function () {
								$('#added').html('Đã thêm vào giỏ hàng');
								var id = $(this).attr('proID');
								var name = $('#pro-' + id).children('#productName').text().trim();
								var image = $('.pimage').find('#image').attr('src').trim();
								var price = $('#pro-' + id).find('#price').text().trim();
								var color = $('#pro-' + id).find('.color').val().trim();
								var quality = $('#pro-' + id).find('.quality').val().trim();

								var obj = {
									pID: id,
									pName: name,
									pColor: color,
									pQuality: quality,
									pImage: image,
									pPrice: price,
									u: user
								}
								socket.emit('data', obj);
							});
						})
					</script>
					<div class="product_desc">
						<div id="horizontalTab">
							<ul class="resp-tabs-list">
								<li>Product Details</li>
								<li>product Tags</li>
								<li>Product Reviews</li>
								<div class="clear"></div>
							</ul>
							<div class="resp-tabs-container">
								<div class="product-desc">
									<p>Lorem Ipsum is simply dummy text of the <span>printing and typesetting industry</span>. Lorem Ipsum has
										been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
										and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
										into electronic typesetting, remaining essentially unchanged.</p>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
										industry's standard dummy text ever since the 1500s, <span>when an unknown printer took a galley of type and
											scrambled</span> it to make a type specimen book. It has survived not only five centuries, but also the
										leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum is simply dummy text of the
										printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the

								</div>

								<div class="product-tags">
									<p>
										<%= rs.mota_sp %>
									</p>
									<h4>Add Your Tags:</h4>
									<div class="input-box">
										<input type="text" value="">
									</div>
									<div class="button"><span><a href="#">Add Tags</a></span></div>
								</div>

								<div class="review">
									<h4>Lorem ipsum Review by <a href="#">Finibus Bonorum</a></h4>
									<ul>
										<li>Price :<a href="#"><img src="../images/price-rating.png" alt="" /></a></li>
										<li>Value :<a href="#"><img src="../images/value-rating.png" alt="" /></a></li>
										<li>Quality :<a href="#"><img src="../images/quality-rating.png" alt="" /></a></li>
									</ul>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
										industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
										scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
										electronic typesetting, remaining essentially unchanged.</p>
									<div class="your-review">
										<h3>How Do You Rate This Product?</h3>
										<p>Write Your Own Review?</p>
										<form>
											<div>
												<span><label>Nickname<span class="red">*</span></label></span>
												<span><input type="text" value=""></span>
											</div>
											<div><span><label>Summary of Your Review<span class="red">*</span></label></span>
												<span><input type="text" value=""></span>
											</div>
											<div>
												<span><label>Review<span class="red">*</span></label></span>
												<span><textarea> </textarea></span>
											</div>
											<div>
												<span><input type="submit" value="SUBMIT REVIEW"></span>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<script type="text/javascript">
						$(document).ready(function () {
							$('#horizontalTab').easyResponsiveTabs({
								type: 'default', //Types: default, vertical, accordion           
								width: 'auto', //auto or any width like 600px
								fit: true   // 100% fit in a container
							});
						});
					</script>
					<div class="content_bottom">
						<div class="heading">
							<h3>Related Products</h3>
						</div>
						<div class="see">
							<p><a href="/allproduct">See all Products</a></p>
						</div>
						<div class="clear"></div>
					</div>
					<div class="section group">
						<%
							lq.forEach(u=>{
								%>
						<div class="grid_1_of_4 images_1_of_4">
							<a href="/<%= u._id %>"><img src="../image_web/<%= u.anh_sp %>" alt=""></a>
							<div class="price" style="border:none">
								<div class="add-cart" style="float:none">
									<h4><a href="/<%= u._id %>">Add to Cart</a></h4>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<%
							})
						%>

					</div>
				</div>
				<div class="rightsidebar span_3_of_1">
					<h2>CATEGORIES</h2>
					<ul class="side-w3ls">
						<li><a href="/mobile">Mobile Phones</a></li>
						<li><a href="/ipad">Ipad</a></li>
						<li><a href="/laptop">Laptop</a></li>
						<li><a href="#">Accessories</a></li>
						<li><a href="#">Software</a></li>
					</ul>
					<div class="subscribe">
						<h2>Newsletters Signup</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.......</p>
						<div class="signup">
							<form>
								<input type="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';"><input
								 type="submit" value="Sign up">
							</form>
						</div>
					</div>
					<div class="community-poll">
						<h2>Community POll</h2>
						<p>What is the main reason for you to purchase products online?</p>
						<div class="poll">
							<form>
								<ul>
									<li>
										<input type="radio" name="vote" class="radio" value="1">
										<span class="label"><label>More convenient shipping and delivery </label></span>
									</li>
									<li>
										<input type="radio" name="vote" class="radio" value="2">
										<span class="label"><label for="vote_2">Lower price</label></span>
									</li>
									<li>
										<input type="radio" name="vote" class="radio" value="3">
										<span class="label"><label for="vote_3">Bigger choice</label></span>
									</li>
									<li>
										<input type="radio" name="vote" class="radio" value="5">
										<span class="label"><label for="vote_5">Payments security </label></span>
									</li>
									<li>
										<input type="radio" name="vote" class="radio" value="6">
										<span class="label"><label for="vote_6">30-day Money Back Guarantee </label></span>
									</li>
									<li>
										<input type="radio" name="vote" class="radio" value="7">
										<span class="label"><label for="vote_7">Other.</label></span>
									</li>
								</ul>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>


	<script type="text/javascript">
		$(document).ready(function () {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<a style="z-index: 11;" href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
<%- include('./footer.ejs') %>

</html>