<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./header.ejs') %>
    <title>Tech-shop</title>
    <link href="css/login.css" rel="stylesheet" type="text/css" media="all" />
    <script>
        var socket = io('https://son-tech-shop.herokuapp.com/');
        socket.on('email-exist',()=>{
            $('#ring-email').html('Email đã tồn tại.').css('color','red');
        });
        socket.on('email-can-use',()=>{
            $('#ring-email').html('Email có thể sử dụng.').css('color','green');
        })
        socket.on('username-exist',()=>{
            $('#ring-username').html('username đã tồn tại.').css('color','red');
        })
        socket.on('username-can-use',()=>{
            $('#ring-username').html('username có thể sử dụng.').css('color','green');
        })
        socket.on('register-success',()=>{
            $('#ring-register').html('Đăng ký thành công.').css('color','green');
        
        })
        socket.on('register-fail',()=>{
            $('#ring-register').html('Vui lòng kiểm tra lại.').css('color','red');
            
        })
        socket.on('pws-success',()=>{
            $('#ring-pwsrepeat').html('Hợp lệ').css('color','green');
        });
        socket.on('pws-fail',()=>{
            $('#ring-pwsrepeat').html('Không hợp lệ').css('color','red');
        })
        $(document).ready(() => {
            $('#email').blur(function () {
                if ($(this).val() != "") {
                    socket.emit('email-client', $(this).val());
                }
            })
            $('#username').blur(function(){
                if($(this).val()!=""){
                    socket.emit('username-client',$(this).val());
                }
            })
            $('#pwsrepeat').blur(function(){
                if($(this).val()!=""){
                    socket.emit('pswrepeat',{psw1:$('#pws').val(),psw2:$(this).val()});
                }
            });
        })
    </script>
</head>

<body>
    <div class="login-container">
        <form action="/register" method="POST" class="form-login">
            <ul class="login-nav">
                <li class="login-nav__item active">
                    <a href="/register">Sign Up</a>
                </li>
                <li class="login-nav__item">
                    <a href="/login">Sign In</a>
                </li>
            </ul>
            <p id="ring-register"></p>
            <label for="login-input-user" class="login__label">
                Email
            </label>
            <input id="email" class="login__input" type="email" name="email" required autocomplete="off" />

            <label for="login-input-user" class="login__label">
                <p id="ring-email" style="padding-bottom: 10px"></p>
                Username
            </label>
            <input id="username" class="login__input" type="text" name="username" required autocomplete="off" />

            <label for="login-input-password" class="login__label">
                <p id="ring-username" style="padding-bottom: 10px" ></p>
                Password
            </label>
            <input id="pws" class="login__input" type="password" name="pws" required autocomplete="off" />

            <label for="login-input-password" class="login__label">
                <div id="ring-pws"></div>
                Confirm Password
            </label>
            <input id="pwsrepeat" class="login__input" type="password" name="pwsrepeat" required autocomplete="off" />
            <p id="ring-pwsrepeat"></p>
            <button class="login__submit" style="margin-top: 3rem" type="submit">Sign Up</button>
        </form>
    </div>
</body>

</html>