<div class="header">
    <div class="headertop_desc">
        <div class="call">
            <p><span>Need help?</span> call us <span class="number">0967-730-498</span></span></p>
        </div>
        <div class="account_desc">
            <ul>
                <li><a href="#">Delivery</a></li>
                <li><a href="checkout">Checkout</a></li>
                <li><a href="logout">Log Out</a></li>
                <li><a href="#">My Account</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="header_top">
        <div class="logo">
            <a href="index"><img src="images/logo1.png" alt="" /></a>
        </div>
        <div class="cart">
            <p>Welcome to our Online Store! <span>Cart:</span>
                <div class="wrapper-dropdown-2"> <a href="checkout" style="color: black;text-decoration: none"><span id="soluongSP">
                        </span> item(s) - <span id="tongtien"></span>VND</a>
                    <!-- <ul class="dropdown">
                        <li>you have no items in your Shopping cart</li>
                    </ul> -->
                </div>
            </p>
        </div>
        <script type="text/javascript">
            var sl = "<%= sl %>";
            var sum = "<%= sum %>";
            $('#soluongSP').html(sl);
            $('#tongtien').html(sum);

        </script>
        <div class="clear"></div>
    </div>
    <div class="header_bottom">
        <div class="menu">
            <ul>
                <li class="active"><a href="index">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="delivery">Delivery</a></li>
                <li><a href="news">News</a></li>
                <li><a href="contact">Contact</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="search_box">
            <form>
                <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input
                    type="submit" value="">
            </form>
        </div>
        <div class="clear"></div>
    </div>

</div>